# Compiled Object files
*.slo
*.lo
*.o
*.creator.user
gtest/gtest
gtest/stm-test
version.cpp

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.directory
*.bin
*.elf
*.map
